@use "_vers" as color;

html{
	font-size: 62.5%;
  color: color.$font;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body{
  font-family: 'Kiwi Maru', Arial, sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background:
  // url("../img/img_backImg_foot.png") center bottom/cover repeat,
  url("../img/img_backImg.png") center center/cover repeat;
  // overflow-x: hidden;
}

// 動き
// .fadeUp{
//   animation-name: fadeUpAnime;
//   animation-duration: 1s;
//   animation-fill-mode: forwards;
//   opacity: 0;
  
  
//   @keyframes fadeUpAnime{
//     from {
//       opacity: 0;
//     transform: translateY(100px);
//     }
  
//     to {
//       opacity: 1;
//     transform: translateY(0);
//     }
//   }
// }

//hidden
.hidden{
  display: none;
}

.mainWrap{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFFFFF;
  // background:
  .slideItem{
    width: auto;
    height: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: all 1s;

    &:nth-of-type(1) {
      opacity: 1;
    }
  }
  .txt{
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: end;
    width: 100vw;
    height: 100vh;
    // margin-right: 120px;
    // margin-left: 120px;
    padding-bottom: 100px;
    h1{
      img{
        width: auto;
        height: 200px;
      }
    }
      ul{
        display: flex;
        justify-content: right;
        list-style-type: none;
        margin-bottom: 17px;
        li{
          margin-left: 16px;
          font-size: 1.8rem;
          padding-right: 20px;
          margin: 10px;
          a{
            background-color: rgba(255,255,255,0);
            border: dotted 4px color.$font;
            padding: 20px;
            border-radius: 40px;
            transition: 0.3s;
            &:link,&:visited{
              text-decoration: none;
              color: #333333;
            }
            &:hover{
              background-color: color.$btn;
            }
          }
        }
      }
  }
}

main{
  .txt{
    font-size: 2rem;

  }
}


button{
  width: 200px;
  height: 60px;
  font-size: 1.6rem;
  border-radius: 30px;
  background-color: color.$btn;
  transition: 0.3s;
  a{
    &:link,&:visited{
      color: color.$font;
      text-decoration: none;
    }
  }
  &:hover{
    color: #FFFFFF;
    background-color: color.$btnHover;
  }
}


p{
  font-weight: 300;
}

a{
  &:link,&:visited{
    text-decoration: none;
    color: color.$font;
  }
}


footer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 80px;
}


